<div class="container">
    <div class="row">
        <!-- ##javascriptで以下の1行を追加 -->
        <!-- <h1 class="jquery">Hello jQuery</h1> -->
        <div class="col-lg-4">
            <h1>User info</h1>
            <table class="table table-striped">
                <tr>
                    <%= attachment_image_tag current_user, :profile_image, :fill, 100,100, format: "jpeg", class: "pull-left profile-img", fallback: "no_image.jpg" %>
                </tr>
                <tr>
                    <td>name</td>
                    <td>
                        <%= current_user.name %>
                    </td>
                </tr>
                <tr>
                    <td>introduction</td>
                    <td>
                        <%= current_user.introduction %>
                    </td>
                </tr>
            </table>
            <%= link_to  edit_user_path(current_user.id), class: 'btn btn-default btn-block' do %>
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <% end %>
            <h1>New book</h1>
            <%= form_for(@book, url: books_path) do |f| %>
            <% if @book.errors.any? %>
            <div id="error_explanation">
                <ul>
                    <% @book.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <ul>
                <li>
                    <h4>Title</h4>
                    <%= f.text_field :title, :size =>"44" %>
                </li>
                <li>
                    <h4> Opinion</h4>
                    <%= f.text_area :body, :cols =>"47", :rows => "1" %>
                </li>
                <br>
                <li>
                    <%= f.submit "Create Book", class: "btn btn-primary btn-block" %>
                </li>
                <% end %>
            </ul>
        </div>
        <div class="col-lg-8">
            <h1>Users</h1>
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>image</th>
                        <th>name</th>
                        <th colspan="2"></th>
                    </tr>
                </thread>
                <tbody>
                    <% @users.each do |user| %>
                    <tr>
                        <td>
                            <%= attachment_image_tag user, :profile_image, :fill, 50,50, format: "jpeg", class: "pull-left profile-img", fallback: "no_image.jpg", :width => "40", :height => "40" %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= link_to "show", user_path(user.id) %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%= paginate @users, class: "paginate" %>